<html th:replace="~{layout :: layout (~{::title}, ~{::content})}">
<th:block th:fragment="title">Error 404</th:block>
<th:block th:fragment="content">
  <h1>ERROR 404 - PAGE NOT FOUND</h1>
  <h4>
    A página que você procura não foi encontrada
  </h4>
  <p>O recurso solicitado não foi encontrado, mas pode ser disponibilizado novamente no futuro. As solicitações subsequentes pelo cliente são permitidas.</p>

  <div class="container">
    <a onclick="window.history.back()">Voltar</a>
  </div>
</th:block>
</html>