<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404 - Thymeleaf Fundamentos</title>
  <!-- Pico CSS Styles -->
  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css}">
</head>
<body>
  <nav class="container-fluid">
    <ul>
      <li><strong>Thymeleaf Fundaments</strong></li>
    </ul>
    <ul>
      <li><a th:href="@{/clients}">Ir para Clientes</a></li>
    </ul>
  </nav>

  <main class="container">
    <h1>ERROR 404 - PAGE NOT FOUND</h1>
    <h4>
      A página que você procura não foi encontrada
    </h4>
    <p>O recurso solicitado não foi encontrado, mas pode ser disponibilizado novamente no futuro. As solicitações subsequentes pelo cliente são permitidas.</p>
    <a onclick="window.history.back()">Voltar</a>
  </main>
</body>
</html>