<!DOCTYPE html>
<html th:replace="~{ layout :: layout (~{ ::title}, ~{ ::main})}">

<head>
    <title>Clientes Thymeleaf - Home</title>
</head>

<body>
    <main class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Olá, mundo!</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p th:text="${ boasVindas }"> Aqui Será renderizado a string passada pela variável boas-vindas no HomeController.java</p>
                <p>[[ ${boasVindas} ]]</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p th:text="${ aulasList }"> Aqui Será renderizado a Array List passada pela variável aulasList no HomeController.java</p>
                <p>[[ ${aulasList} ]]</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3>Exibição de Lista pelo th:text{}</h3>
                <p th:text="${aulasList[0]}">Exibindo o index</p>
                <p th:text="${aulasList[1]}">Exibindo o index</p>

                <h3>Exibição de Lista iterando pelo th:each{}</h3>
                <p th:each="aula : ${aulasList}">Exibindo a lista como se fosse um forEach</p>
                <p th:each="aula : ${aulasList}" th:text="${aula}">Exibindo o valor da variável a cada volta do loop</p>
            </div>
        </div>
    </main>

</body>
</html>