<!DOCTYPE html>
<html lang="pt-br" th:fragment="layout (title, content)">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><th:block th:replace="${title}"></th:block> - Thymeleaf Fundamentos</title>

  <!-- Pico CSS Styles -->
  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css}">
<body>
  <div th:replace="~{fragments/_navbar :: navbar}"></div>
  <main class="container" th:insert="${content}">
    <!-- AQUI É INSERIDO AS PÁGINAS HTML -->
  </main>
</body>
</html>